apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: my-cluster
spec:
  entityOperator:
    topicOperator: {}
    userOperator: {}
  kafka:
    version: 3.8.0
    config:
      default.replication.factor: 3
      inter.broker.protocol.version: "3.8"
      min.insync.replicas: 2
      offsets.topic.replication.factor: 3
      transaction.state.log.min.isr: 2
      transaction.state.log.replication.factor: 3
    listeners:
    - authentication:
        accessTokenIsJwt: true
        checkAccessTokenType: true
        checkIssuer: true
        enableOauthBearer: true
        jwksEndpointUri: https://keycloak-keycloak.apps.ocp4.dmshift.eu/auth/realms/kafka/protocol/openid-connect/certs
        maxSecondsWithoutReauthentication: 3600
        type: oauth
        validIssuerUri: https://keycloak-keycloak.apps.ocp4.dmshift.eu/auth/realms/kafka
      name: external
      port: 9094
      tls: true
      type: route
    - authentication:
        accessTokenIsJwt: true
        checkAccessTokenType: true
        checkIssuer: true
        enableOauthBearer: true
        jwksEndpointUri: https://keycloak-keycloak.apps.ocp4.dmshift.eu/auth/realms/kafka/protocol/openid-connect/certs
        maxSecondsWithoutReauthentication: 3600
        type: oauth
        validIssuerUri: https://keycloak-keycloak.apps.ocp4.dmshift.eu/auth/realms/kafka
      name: plain
      port: 9092
      tls: false
      type: internal
    livenessProbe:
      initialDelaySeconds: 60
      periodSeconds: 60
      timeoutSeconds: 5
    metricsConfig:
      type: jmxPrometheusExporter
      valueFrom:
        configMapKeyRef:
          key: kafka-metrics-config.yml
          name: kafka-metrics
    readinessProbe:
      initialDelaySeconds: 60
      timeoutSeconds: 5
    replicas: 3
    storage:
      type: jbod
      volumes:
      - deleteClaim: false
        id: 0
        size: 2Gi
        type: persistent-claim
  kafkaExporter:
    groupRegex: .*
    topicRegex: .*
  zookeeper:
    livenessProbe:
      initialDelaySeconds: 15
      timeoutSeconds: 5
    metricsConfig:
      type: jmxPrometheusExporter
      valueFrom:
        configMapKeyRef:
          key: zookeeper-metrics-config.yml
          name: kafka-metrics
    readinessProbe:
      initialDelaySeconds: 15
      timeoutSeconds: 5
    replicas: 3
    storage:
      deleteClaim: false
      size: 2Gi
      type: persistent-claim
