apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-consumer-config
  labels:
    app.kubernetes.io/name: kafka-consumer
data:
  KAFKA_BOOTSTRAP_SERVERS: "my-cluster-kafka-bootstrap.my-kafka.svc:9092"
  TRACKING_DB: "false"
  POSTGRESQL_SVC: "event-db.my-kafka.svc:5432"